.container {
  background-color: lightgoldenrodyellow;
  display: flex;
  justify-content: center;
}
h1{
  width: 100%;
}
.btnContainer{
  display: flex;
  justify-content: center;
}

.container img {
    width: 50%;
}